.profiles {
  display: flex;
  margin: 15px;
  /* background-color: skyblue; */
  border-radius: 5px;
  /* padding: 5px; */
}

.profile-list {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 160px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  margin: 2px;
}

/* .list-items {
  margin: 5px;
  background-color: khaki;
} */

.single-profile {
  /* color: goldenrod; */
  padding: 5px;
  background-color: skyblue;
  margin: 2px;
}
